{% extends 'baselayout.html' %}
{% load static %}
{% block content %}
    <body>
        <section id="hero">
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p>Affordable resources for brighter future...</p>
        </section>

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="{% static 'img/features/f1.png' %}" alt="">
                <h6>Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'img/features/f2.png' %}" alt="">
                <h6>Online order</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'img/features/f3.png' %}" alt="">
                <h6>Save money</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'img/features/f4.png' %}" alt="">
                <h6>Promotions</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'img/features/f5.png' %}" alt="">
                <h6>Happy sell</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'img/features/f6.png' %}" alt="">
                <h6>F24/7 Support</h6>
            </div>
            
        </section>

        <section id="product1" class="section-p1">
            <h2>Featured Product</h2>
            <p>From books to gadgets, all in one place.</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="{% static 'img/products/f1.jpg' %}" alt="">
                    <div class="des">
                        <span>casio</span>
                        <h5>Casio fx-83gtx</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹450</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f2.png' %}" alt="">
                    <div class="des">
                        <span>oprat</span>
                        <h5>ORPAT SC-417 SC 417</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹300</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f3.jpg' %}" alt="">
                    <div class="des">
                        <span>casio</span>
                        <h5>CASIO FX-82MS Scientific Scientific Calculator</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹750</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f4.png' %}" alt="">
                    <div class="des">
                        <span>casio</span>
                        <h5>CASIO FX-991CW Scientific Calculator</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹900</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f5.png' %}" alt="">
                    <div class="des">
                        <span>unix</span>
                        <h5>Lab Coat/Apron Cotton White Colour</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f6.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f7.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/f8.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

            </div>
        </section>

        <section id="banner" class="section-m1">
            <h4>Help Assured</h4>
            <h2>Up to <span>30% Off</span> for Accessories</p>
            <button>Explore More</button>
        </section>

        <section id="product1" class="section-p1">
            <h2>New Arrivals</h2>
            <p>New Gear, New Semester, New You!</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="{% static 'img/products/n1.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n2.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n3.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n4.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n5.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n6.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n7.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="{% static 'img/products/n8.jpg' %}" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon astronaut T-shirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

            </div>
        </section>

        <section id="sm-banner" class="section-p1">
            <div class="banner-box">
                <h4>crazy deals</h4>
                <h2>Get upto 30% off</h2>
                <span>Best deals at Nexo</span>
                <button class="white">Learn more</button>
            </div>
            <div class="banner-box banner-box2">
                <h4>crazy deals</h4>
                <h2>Get the best offers</h2>
                <span>Only at Nexo</span>
                <button class="white">Learn more</button>
                
            </div>
        </section>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
    {% endblock %}
</html>